#titulo-prestador {
    margin-top: 50px;
    margin-bottom: 50px;
}

#titulo-servicos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.a-text-bold {
    text-align: center;
}

#sobre {
    text-align: center;
}

#sobre,
h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.card-group{
    gap: 20px;
}

.card-body{
    text-align: center;
}

#perfil-card{
    text-decoration: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    height: 200px;
    color: rgb(245, 245, 245);
}

.footer ul{
    display: flex;
    list-style: none;
}

.footer ul li{
    padding:20px;
    margin-top: 30px;
}

.footer h6{
    color: black;
    font-weight: bold;
}

#text-rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    height: 50px;
}

#perfil-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-footer{
    object-fit: cover;
    width: 300px;
}