* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media (min-width:991px) {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(7, 46, 9);
        padding: 10px;
    }

    .category-list {
        display: flex;
        justify-content: center;
        background-color: rgb(131, 119, 58);
    }

    .category-list ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 30px;
        margin: 0;
    }

    .category-list ul li {
        padding: 1rem 5px;
        transition: .5s ease;
    }

    .category-list ul li:hover {
        background-color: rgb(7, 46, 9);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .category-list li a {
        padding: 1rem 5px;
        height: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    .input-container {
        background-color: white;
        border-radius: 5px;
        margin: 10px;
    }

    .input-container input {
        width: 500px;
        height: 30px;
        border: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        color: black;
    }

    .input-container button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .input-container input:focus {
        outline: none;
    }

    .input-container button i {
        color: rgb(25, 25, 56);

    }

    .logo-container img {
        object-fit: cover;
        width: 70px;
    }

    .sec-provider {
        width: 100%;
        gap: 20px;
    }

    .container-provider {
        display: flex;
        gap: 100px;
        margin: 20px;
        box-shadow: 1px 0px 2px 1px rgba(87, 87, 87, 0.744);
        border-radius: 30px;
    }

    .container-provider .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 170px;
        gap: 10px;
    }

    .container-provider .profile .btn {
        margin-bottom: 20px;
    }

    .container-provider .profile img {
        object-fit: cover;
        width: 120px;
        border-radius: 100px;
        margin: 20px;
        box-shadow: 1px 0px 3px 2px rgba(105, 105, 105, 0.829);
    }

    .container-provider .info {
        display: flex;
        flex-wrap: wrap;
        gap: 250px;
        margin-top: 60px;
    }

    .container-provider .info .avaliacoes {
        margin-right: 50px;
        margin-top: 50px;
    }

    .navbar nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        text-align: center;
    }

    .navbar nav .contato {
        background-color: rgb(7, 46, 9);
        align-content: center;
        border-radius: 20px;
        height: 40px;
    }

    .contato-container {
        display: flex;
        justify-content: center;
    }

    .contato-info {
        padding-left: 120px;
        box-shadow: 1px 0px 3px 2px rgba(105, 105, 105, 0.359);
        border-radius: 15px;
        width: 750px;
    }
    .contato-info h2{
        margin-top: 20px
    }

    .contact {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .whatsapp-btn {
        display: inline-block;
        background-color: #25D366;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 10px;
    }

    .whatsapp-btn:hover {
        background-color: #128C7E;
    }
}